---
---

<div class="py-6 bg-creme">
  <div class="max-w-[780px] mx-auto bg-[#fef9f0] border border-[#f0dcc4] rounded-xl px-5 py-4 text-sm text-gris-texte text-center font-sans">
    <strong class="text-marine">Information sante :</strong> Ce site est a visee informative et ne remplace pas une consultation medicale. Tout le contenu est redige et relu par un audioprothesiste diplome d'Etat. Consultez votre medecin ou un ORL pour tout probleme d'audition. Derniere revue : avril 2026.
  </div>
</div>
